.custom-radio {
    .custom-control-input {
      &:checked {
        &~.custom-control-label {
          &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%235E7CE9'/%3e%3c/svg%3e");
          }
          &::before  {
            background-color: #fff;
            border-color: $primarylight;
            border-width: 2px;
          }
        }
        &:disabled {
          &~.custom-control-label {
            &::after {
              background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23adb5bd'/%3e%3c/svg%3e");
            }
            &::before {
                border-color: #adb5bd;
                background-color: transparent;
            }
          }
        }

      }
      &:not(:checked) {
        &:disabled {
          &~.custom-control-label {
            &::before {
              border-color: #adb5bd;
              border-width: 1px;
              background-color: transparent;
            }

            &::after {
              background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMiAxMS4yOTNsMTAuMjkzLTEwLjI5My43MDcuNzA3LTEwLjI5MyAxMC4yOTMgMTAuMjkzIDEwLjI5My0uNzA3LjcwNy0xMC4yOTMtMTAuMjkzLTEwLjI5MyAxMC4yOTMtLjcwNy0uNzA3IDEwLjI5My0xMC4yOTMtMTAuMjkzLTEwLjI5My43MDctLjcwNyAxMC4yOTMgMTAuMjkzeiIvPjwvc3ZnPg==") no-repeat center;
              background-size: 13px;
              opacity: 0.3;
            }
          }
        }
      }

    }
    &:hover {
      .custom-control-input {
        &:checked {
          &~.custom-control-label {
            &::after {
              background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%235E7CE9'/%3e%3c/svg%3e");
            }
            &::before {
              border-color: $color2;
            }
          }
          &:disabled {
            &~.custom-control-label {
              &::before {
                border-color: #adb5bd;
                background-color: transparent;
                border-width: 2px;
              }
              &::after {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23adb5bd'/%3e%3c/svg%3e");
              }
            }

          }
        }
        &:not(:checked) {
          &~.custom-control-label {
            &::before {
              border-color: rgba($color2, 0.6);
              border-width: 2px;
            }
          }
        }
        &:disabled {
            &~.custom-control-label {
              &::before {
                border-color: #adb5bd;
                border-width: 1px;
              }

            }
            &:not(:checked) {
              &~.custom-control-label {
                &::after {
                  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMiAxMS4yOTNsMTAuMjkzLTEwLjI5My43MDcuNzA3LTEwLjI5MyAxMC4yOTMgMTAuMjkzIDEwLjI5My0uNzA3LjcwNy0xMC4yOTMtMTAuMjkzLTEwLjI5MyAxMC4yOTMtLjcwNy0uNzA3IDEwLjI5My0xMC4yOTMtMTAuMjkzLTEwLjI5My43MDctLjcwNyAxMC4yOTMgMTAuMjkzeiIvPjwvc3ZnPg==") no-repeat center;
                  background-size: 13px;
                  opacity: 0.3;
                }
              }
            }
        }
      }
    }
}
.custom-checkbox {
  .custom-control-input {
    &:checked {
      &~.custom-control-label {
        &::before {
          background-color: rgba($primarylight, 0.6);
          border-color: rgba($primarylight, 0.6);
        }
      }
      &:disabled {
        &~.custom-control-label  {
          &::before {
            background-color: #adb5bd;
            border-color: #adb5bd;
          }
        }
      }
    }
    &:not(:checked) {
      &:disabled {
        &~.custom-control-label {
          &::before {
            border-color: #adb5bd;
            border-width: 1px;
            background-color: transparent;
          }

          &::after {
            background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0xMiAxMS4yOTNsMTAuMjkzLTEwLjI5My43MDcuNzA3LTEwLjI5MyAxMC4yOTMgMTAuMjkzIDEwLjI5My0uNzA3LjcwNy0xMC4yOTMtMTAuMjkzLTEwLjI5MyAxMC4yOTMtLjcwNy0uNzA3IDEwLjI5My0xMC4yOTMtMTAuMjkzLTEwLjI5My43MDctLjcwNyAxMC4yOTMgMTAuMjkzeiIvPjwvc3ZnPg==") no-repeat center;
            background-size: 13px;
            opacity: 0.3;
          }
        }
      }
    }
  }
  &:hover {
    .custom-control-input {
      &:checked {
        &~.custom-control-label {
          &::before {
            background-color: $primarylight;
            border-color: $primarylight;
          }
        }
        &:disabled {
          &~.custom-control-label {
            &::before {
              background-color: #adb5bd;
              border-color: #adb5bd;
            }
          }
        }
      }

      &:not(:checked) {
        &~.custom-control-label {
          &::before {
            border-color: rgba($color2, 0.6);
            border-width: 2px;
          }

        }
      }
      &:disabled {
        &~.custom-control-label {
          &::before {
            border-color: #adb5bd;
            border-width: 1px;
          }
        }
      }
    }
  }
}
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}